* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

header{
    width: 100vw;
    height: 100px;
    background-color: navy;
    
}

#page {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

#sidebar {
    width: 300px;
    background-color: lightgray;
    
}

#content {
    background-color: white;
    color: navy;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 20px;
    gap: 15px;
    align-items: center;
}

.todo {
    height: 75px;
    width: 100%;
    background-color: lightblue;
    border: solid navy 1px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.desc {
    padding: 5px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 25px;
}

button {
    border: solid navy 2px;
    height: 35px;
    width: 120px;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: navy;
}

#add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
    
}

#add-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-between;
}