* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

header{
    width: 100vw;
    height: 100px;
    background-color: navy;
    
}

#title {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    padding: 30px 50px;
}

#page {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

#sidebar {
    width: 300px;
    background-color: lightgray;
    color: navy;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    text-decoration: underline;
}

li:hover,
li:focus {
    font-size: 1.3rem;
    cursor: pointer;
}

#content {
    background-color: white;
    color: navy;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 20px;
    gap: 15px;
    align-items: center;
}

.todo {
    height: 75px;
    width: 100%;
    background-color: lightblue;
    border: solid navy 3px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}



.title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    outline: solid navy 1px;
}

.high-prio {
    border: solid red 3px;
}

.low-prio {
    border: solid green 3px;
}

.desc {
    padding: 5px;
    flex-grow: 1;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 25px;
    height: 250px;
}

button {
    border: solid navy 2px;
    height: 35px;
    width: 120px;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: navy;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 500px;
    width: 500px;
    border: solid navy 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  button:hover,
  button:focus {
    cursor: pointer;
    font-size: 1.1rem;
    height: 40px;
    width: 130px;
  }

  #modal-heading{
    font-size: 1.4rem;
    font-weight: bold;
  }

  form {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  fieldset{
    width: 400px;
  }
  fieldset>div {
    width: 100%;
    height: 50px;
    border: solid black 1px;
    padding: 10px;
  }

  .radio-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  