body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: navy;
    height: 700px;
    width: 600px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid navy 5px;
}

#page {
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid white 2px;
}

#buttons {
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: navy;
    border: solid navy 2px;
    padding: 10px;
}

button {
    height: 25px;
    width: 100px;
}